.title{
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    margin-top: 5rem;
    color: var(--secondary-color);
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color svg path{
    fill: #000;
}
.javascript-icon{
    margin: 0;
}
@media screen and (max-width: 800px) {
    .list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 5rem;
    }
    .title{
        font-size: 2.5rem;
        font-style: normal;
    }
}
